@media(max-width: 905px){
    body{
        background: var(--primary-color) url(../images/bg-intro-mobile.png) no-repeat;
        background-size:contain;
    }
    
    main{
        flex-direction: column;
    }

    .info-container{
        margin: 8rem 0 9rem;
        text-align: center;
    }

    .signup-container{
        margin-bottom: 7rem;
    }
}

@media(max-width: 645px){
    .info-container{
        max-width: 36rem;
    }

    .info-container .title{
        font-size: 2.7rem;
        line-height: 3.8rem;
        margin-bottom: 2rem;
    }

    .signup-container{
        width: 45rem;
        min-width: auto;
    }

    .signup-container .try-free-container{
        height: 8.6rem;
        text-align: center;
    }

    .signup-container .form-container{
        padding-top: 0.6rem;
    }

    .signup-container .form-container .inputs{
        height: 5.5rem;
        margin-top: 1.9rem;
        padding-left: 2rem;
    }

    .signup-container .form-container .btn-signup{
        margin-top: 1.5rem;
        font-size: 1.6rem;
    }

    .signup-container .form-container .terms-text{
        margin-top: 1rem;
        padding: 0 4rem 3rem;
        text-align: center;
    }
}

@media(max-width: 565px){
    .signup-container{
        width: 33rem;
    }

    .signup-container .try-free-container{
        padding: 0 6rem;
    }
}